@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

body {
    margin: 0;
}
.header {
    background-color: rgb(57, 56, 56);
    display: flex;
    padding: 0.3em;
    align-items: center;
    gap: 0.5em;
    height: 37px;
}
@keyframes reactspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.reactimg {
    width: 40px;
    animation: reactspin 8s linear infinite;
}
